<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
            height="50%" width="50%" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{ profile.name }}
          </h5>
          <p class="proile-rating">RANKINGS : <span>8/10</span></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>HOBBY</p>
          <p class="text-primary" *ngFor="let h of profile.hobby ">{{ h }}</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>First Name</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.name.split(" ")[0] }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>last Name</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.name.split(" ")[1] }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.emailid }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone No</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.phoneno }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Gender</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.gender }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Address 1</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.address1 }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Address 2</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.address2 }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Country</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.country }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>State</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.state }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Pincode</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.pincode }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> Email Verified </label>
              </div>
              <div class="col-md-6">
                <p type="button" Class = "btn btn-success text-light" *ngIf = "profile.emailVerified"> Verified </p>
                <p type="button" Class = "btn btn-danger text-light" *ngIf = "!profile.emailVerified"> Not Verified </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
